@font-face {
  font-family: Roboto-mono;
  src: url(./Assets/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Reckless;
    src: url(./Assets/RecklessCondensedS-TRIAL-Book.woff);
}
:root {
  /* ---------- Font-Family --------- */
  --font-roboto-mono: "Roboto-mono";
  --font-reckless: "Reckless";

  /* ----------- Background-color------------ */
  --clr-bg-deep-indigo: #2a2857;
  --clr-bg-baby-powder-off-white: #fffefb;
  --clr-bg-light-sky-blue:#c0dbff;
  --clr-bg-pure-black:#000000;
  --clr-bg-amber-yellow:#ffb500;

  /* --------- Border-color------------ */
  --clr-border-pure-black: #000000;
}

/* ----- Basic Boilerplate ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  /* height: 100%; It will cause the page to scroll up everytime you refresh */
  height: 200%;
  min-height: 100dvh;
  overflow-x: hidden; /* Recommended backup to catch rogue stray elements */
}

/* ------------General Default Settings------------ */

ul {
  list-style: none; /* Removes bullets or numbers */
  padding: 0; /* Removes default left indentation */
  margin: 0; /* Removes default top and bottom spacing */
}

a{
  all: unset;
  cursor: pointer;
}

/* ------Top-announcement-bar------ */

.hero-section {
  position: relative;
  border-bottom: 1px solid var(--clr-border-pure-black);
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url(./Assets/AlpineBerry.webp);
  background-size: cover;
  /* 1. Align the image inside the element */
  background-position: center top -27px;

  /* 2. Zoom the element */
  transform: scale(1.2);

  /* 3. PIN the zoom to the top edge so it doesn't push up/out */
  transform-origin: top center;
  z-index: -1;
}

.announcement-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto-mono);
  min-height: 30px;
  background-color: var(--clr-bg-deep-indigo);
  color: white;
  font-weight: 500;
  font-size: small;
}

nav {
    padding: 0 20px ;
  border: 1px solid;
  width: 98%;
  margin: auto;
  margin-top: 15px;
  height: 70px;
  border-radius: 15px;
  background-color: var(--clr-bg-baby-powder-off-white);
  /* ---display-properties---*/
  display: flex;
  justify-content: space-between;
}

nav .left{
    /* border: solid; */
    height: 100%;
    /* flex-basis: 30%; */
    font-family: var(--font-reckless);
    font-size: x-large;
    font-weight: 300;
}

nav .left ul{
    /* border: solid; */
    height: 100%;
    display: flex;
    align-items: center;
    gap: 35px;
}

.left ul li a{
    display: flex;
    align-items: center;
}

.header_menu__title span:nth-child(2){
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu__title-icon{
    display: inline-block;
    width: 1.125rem !important;
    height: 1.125rem ;
    background-color: var(--clr-bg-light-sky-blue);
    border-radius: 50%;
    border: 0.0625rem solid var(--clr-border-pure-black);
    margin-left: .5rem;
    aspect-ratio: 1/1;
    /* flex-shrink: 0;  */
}

.review-icon{
    margin-left: .5rem;

}

/* --- underline animation --- */

.underline{
    /* border: solid; */
    display: inline-block;
    position: relative;
}

.underline::after{
content: '';
position: absolute;
bottom: 0px;
height: 0px;
left: 0;
width:0%;
transition: all ease 0.3s;
}

.underline:hover::after{
    height: 1px;
    background-color: var(--clr-bg-pure-black);
    width: 100%;
}

nav .center{
    display: flex;
    align-items: center;
    height: 100%;
    /* flex-basis: 20%; */
}

.center img{
    height: 65%;
    object-fit: cover;
}

nav .right{
    font-family: var(--font-roboto-mono);
    font-weight: 500;
    font-size: small;
    height: 100%;
    display: flex;
    align-items: center;
    /* flex-basis: 20%; */
}

.right ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;

}
.right ul li:nth-last-child(1){
    position: relative;
    /* border: solid; */
    z-index: 1;
}

.right .count{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    left: 100%;
     display: inline-block;
    width: 1.125rem !important;
    height: 1.125rem ;
     background-color: var(--clr-bg-amber-yellow);
    border-radius: 50%;
    border: 0.0625rem solid var(--clr-border-pure-black);
    aspect-ratio: 1/1;
    cursor: pointer;
}

.count span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

